*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 10px;
    overflow: hidden;
    background-color: #ffffff;
    position: left;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);;
    }
    
    
    li {
    float: left;
    }
    
    li a {
    display: block;
    color: rgb(0, 0, 0);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 14px 16px;
    text-decoration: none; 
    font-size: 20px;
}
    
    li a:hover:not(.active) {
    background-color: #e2e2e2;
    }
    ul li ul.dropdown li{
        display: block;
        background: rgb(255, 255, 255);
        margin: 2px 0px;
    
    
    
    }
    
    
    ul li ul.dropdown{  
        width: auto;
        background: rgb(255, 255, 255);
        position: absolute;
        z-index: 999;
        display: none;
     }
    
    
     
    ul li a:hover {
    
        background: #c2c2c2;
    }
                                  ul li:hover ul.dropdown {
                                  display: inline-flex;
    
                                
    }
    span{
        color: orangered;
    }
    h2{
        text-align: center;
        justify-content: center;
        padding-top: 20px;
    }
    .back{
    size: cover;
        background-repeat: no-repeat;
        align-items: center;
    }
    .bc{
         background-image: url(whiteback.jpg);
         background-size: cover;
         background-repeat: no-repeat;
         height: 80vh;
         

            
    }
    div.bc h3{ margin-left: 150px;
        
              margin-top: px;
              color: orangered;
        
    }



 .skin{font-size: 30px;

}
   .bc p{
    color: #ffffff;
    padding: 10px;
background-color: rgb(0, 0, 0);
 width: 400px;
 margin-left: 80;





  
  }
   
    h5{
        text-align: center;
       
        font-size: 4rem;

    }
    h2 :hover{
        color: red;

    }
    .all-products{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        background-color: #223631;
        font-size: 20px;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 20px;
    }
    .product{
        overflow: hidden;
        background: #ffffff;
        color: rgb(34, 0, 255);
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 1.2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        margin-top: 1rem;
        
       

    }


    
    .product:hover{ 
        box-shadow:5px  15px 25px #eeeeee;

    } 
    .product:hover img{ 
        scale: 1.1; 
        
    }
     
   .product img{height: 400px;
    margin: 1rem;
    transition: all 0.3s;

    }

    .product :link, .product :visited{
        color: rgb(255, 255, 255);
        display: inline-block;
        text-decoration: none;
        background-color: rgb(0, 0, 0);
      
        transition: all 0.2s;
        border-radius: 0.3rem;

    }
    .product a{ margin-bottom: 15px;
        font-family: sans-serif;

    }
    #para{
        text-align: center;
        font-size: 16px;
    

    }
    














    .fot{ display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        
    
    }
    
         footer{background-color: rgb(0, 0, 0);
            position: relative;
            width: 100%;
            min-height: 350px;
            padding: 3rem 1rem;
    
         }
         .container{
            max-width: 1140px;
            margin: 0 auto;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
         }
    
         .row{
            display: flex;
            justify-content: space-between;
            align-items: center;
    
    
         }
    
         .col{min-width: 250px;
            color: rgb(255, 255, 255);
            font: 1em sans-serif;
            padding: 0 2rem;
    
         }
         .col .logo{width: 100px;
            margin-bottom: 25px;
    
         }
         .col h3{
            color: rgb(255, 255, 255);
            margin-bottom: 20px;
            position: relative;
            cursor: pointer;
         }
          
         .col h3::after{
            content: '';
            height: 3px;
            width: 0px;
            background-color: rgb(255, 255, 255);
            position: absolute;
            bottom: 0;
            left: 0;
            transition: 0.3s ease;
    
        }
        .col h3:hover::after{
            width: 30px;
    
        }
    
        .col .socials a i{
            color: orangered;
            margin-top: 3rem;
            margin-right: 5px;
            transition: 0.3s ease;
        }
        .col .social a i{transform: scale(1.5);
            filter: grayscale(2.5);       
        
        }
        .col .links a{ display: block;
            text-decoration: none;
            color: orangered;
            margin: 5px;
            position: relative;
            transition: 0.3s ease;
    
    
        }
        .col .links a:before {
            content: '';
            height: 16px;
            width: 3px;
            position: absolute;
            top: 2px;
            left: -10px;
            background-color: rgb(255, 255, 255);
            transition: 0.5s ease;
            
    
        }
        
    
        
        .col .links a:hover::before{ 
            opacity: 1;
    
    
    
        }
    
    .col .links a:hover{ 
        transform: translate(-8px);
        color: rgb(255, 255, 255);
    
    
    
    }
    
    .col .contact-details{ 
        display: inline-flex;
        justify-content: space-between;
    
    
    
    
    }
    
    
    .col .contact-details i{ 
        margin-right: 15px;
        
    }
    .row.form{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 2rem 0;
    }
    .row .form input{background-color: #1a1c20ff;
        border: 0;
        outline: none;
        padding: 10px;
        border-radius: 6px;
        border-top-left-radius: 0;
        border-bottom-right-radius: 0;
        margin-top: 40px;
    
    
    }
    .form button{
        padding-top: 10px;
        padding-bottom: 10px;
        padding-left: 15px;
        padding-right: 15px;
        border: 0;
        border-radius: 6px;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        background-color: orangered;
    }
    /********** Responsive Design ********/
    @media(max-width:768px)
    {
        .row{
            flex-direction: column;
        }
        .col{width: 100px;
            text-align: left;
            margin-bottom: 25px;
    
        }
    }